{{ $page := .page }}
{{ with $page.GetPage "."}}
  <aside class="side-nav">
    <details open>
      <summary>Contents</summary>
      <nav>
        <ul>
          {{ range .Pages }}
            {{- $attrs := dict "href" .RelPermalink "class" "secondary" }}
            {{- if eq $page . }}
              {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
            {{- end }}
            <li>
              <a
                {{- range $k, $v := $attrs }}
                  {{- with $v }}
                    {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                  {{- end }}
                {{- end -}}
              >
                {{ .LinkTitle }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </details>
  </aside>
{{ end }}
